
/* search container */
.search-container{
    background-color: black;
    text-align: center;
    padding-bottom: 10px;
    
}
.search-container input{
    height: 30px;
    width: 75%;
}


/* shop container */
.shop-container{
     display: grid;
     grid-template-columns: 3fr 1fr;
}

.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}
